@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import "tailwindcss";

.indie-flower-regular {
  font-family: "Indie Flower", cursive;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}